

#home-img {
  height: 300px;
  padding: 0;
}

#home-img img{
  width: 100%;
  height: fit-content;
}

#home-aside {
  float: left;
  width: 25%;
  padding-left: 5px;
}

.navbar-list {
  background-color: #0028bb;
  border: 1px solid #00229e;
  max-height: 300px;
}

.navbar-list > li > a {
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.navbar-list > li > a:hover {
  color: #333;
}

article {
  clear: both;
  text-align: justify;
  text-indent: 5%;
}

footer {
  background-color: #f8f8f8;
}


@media (max-width: 992px){

  #home-img{
    width: 100%;
  }
  #home-aside{
    float: none;
    width: auto;
  }
  .navbar-list{
    display: -webkit-inline-box;
    width: -webkit-fill-available;
  }
}
