.float-left{
    float: left;
}

.float-right{
    float: right;
}

.project-box{
    border-radius: 5px;
    border: solid 1px #0028bb;
    margin-bottom: 3%;
    padding: 0;
}

.project-text{
    width: 75%;
    text-align: justify;
    float: left;
    padding: 5%;
}

.imagem-projeto{
    width: 25%;
}

.title{
    padding: 0 0 5% 0;
    margin: 0 0 1% 0;
}

.project-box:hover{
    background-color: #eee;
    transition: 2s;
}

.cabecalho-projetos{
    padding: 3%;
    text-align: justify;
}