
#cabecalho {
  min-height: 200px;
}

.headbar-color{
  background-color: #f5f5f5;
  height: 10px;
}

#cabecalho div {
  float: none;
}

.navegacao {
  width: 75%;
  padding-left: 10%;
}

.navegacao li{
  width: 20%;
  text-align: center;
}

#home-img {
  min-height: 300px;
  float: left;
}

#home-aside {
  float: left;
  width: 25%;
}

.navbar-list {
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  border-radius: 4px;
  max-height: 300px;
}

.navbar-list > li > a {
  color: #777;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.navbar-list > li > a:hover {
  color: #333;
}

article {
  clear: both;
}

footer {
  background-color: #f8f8f8;
}
