.cabecalho-membros{
    padding: 3%;
    text-align: justify;
}
.members-box{
    border: solid 0 #0028bb;
    margin-bottom: 3%;
    padding: 0;
}

.image-members{
    width: 100%;
}

.members-text{
    padding: 2%;
}

.title{
    padding: 0;
}

@media (max-width: 991px){
  .image-members{
      width: 40%;

  }
  .members-text{
    width: 60%;
    float: right;
  }

}
