
body {
  text-align: justify;
}

#cabecalho {
  min-height: 200px;
}

.headbar-color{
  background-color: #0028bb;
  height: 10px;
}

#cabecalho div {
  float: none;
}

.navbar{
  margin: 0;
}

.navbar-default{
  background-color: #0028bb;
  border-color: #00229e;
}

.navegacao {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.navegacao li{
  width: 20%;
  text-align: center;
}
.navegacao li a:hover{
  background-color: #00229e;
}

li a{
  transition: all 0.5s;
}

.background{
  background-color: #050031;
  padding-top: 5px;
  margin-top: -5px;
}

.container{
  background-color: #fff;
}

footer{
  text-align: center;
  background-color: #050031;
}

#footer-container{
  background-color: transparent;

}
