.float-left{
    float: left;
}

.float-right{
    float: right;
}

.project-box{
    border-radius: 5px;
    border: solid 1px #0028bb;
    margin-bottom: 3%;
}

.project-text{
    width: 80%;
    text-align: justify;
    float: left;
    padding: 2%;
}

.imagem-projeto{
    width: 20%;
}

.title{
    padding: 0;
    margin: 0 0 1% 0;
}

.project-box:hover{
    background-color: #eee;
    transition: 1s;
}