
#cabecalho {
  min-height: 200px;
}

.headbar-color{
  background-color: #0028bb;
  height: 10px;
}

#cabecalho div {
  float: none;
}

.navbar{
  margin: 5px;
}

.navbar-default{
  background-color: #0028bb;
  border-color: #00229e;
}

.navegacao {
  width: 100%;
  padding-left: 10%;
  padding-right: 10%;
}

.navegacao li{
  width: 20%;
  text-align: center;
}
.navegacao li a:hover{
  background-color: #00229e;
}

li a{
  transition: all 0.5s;
}
